<hr>
<h4>Assignment 3: Practicing directives.</h4>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol>
                <li>Add A button which says 'Display Details'</li>
                <li>Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')</li>
                <li>Toggle the displaying of that paragraph with the button created in the first step</li>
                <li>Log all button clicks in an array and output that array below the secret paragraph (maybe log a
                    timestamp or simply an incrementing number)</li>
                <li>Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white
                    color (ngClass)</li>
            </ol>
            <br>
            <button class="btn btn-primary" (click)="onClickToggle()">Display Details</button>
            <br>
            <p *ngIf="show">Overview of logged clicks.</p>

            <div 
                *ngFor="let click of buttonclicks;let timestamp of timeStamps; let i = index;" 
                id="{{ i }}" 
                [ngClass]="{lineColor: i > 4}"
                >Click number: {{ i }} with timestamp {{ timestamp }}
            </div>

        </div>
    </div>
</div>