<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Bind it!</h3>
      <ol>
        <li>Create three new components: GameControl, Odd and Even</li>
        <li>The GameControl Component should have buttons to start and stop the game</li>
        <li>When starting the game, an event (holding a incrementing number) should get emitted each second (ref = setInterval())</li>
        <li>The event should be listenable from outside the component</li>
        <li>When stopping the game, no more events should get emitted (clearInterval(ref))</li>
        <li>A new Odd component should get created for every odd number emitted, the same should happen for the Even Component (on even numbers)</li>
        <li>Simply output Odd - NUMBER or Even - NUMBER in the two components</li>
        <li>Style the element (e.g. paragraph) holding your output text differently in both components</li>
      </ol>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="col-xs-12">
    <!-- 
      The parameter 'interval' is defined as @Output EventEmitter in component game-control.
      Via Event Binding the interval numbers will be sent to method onInterval() in app.component.ts.
      $event will give access to the event data. In this case the value of parameter interval.
    -->
    <app-game-control (interval)="onInterval($event)"></app-game-control>
  </div>
</div>
<div class="container">
  <div class="col-xs-12">
    <!-- Event Binding in order to send the value, created in app.component.ts to the app-even / odd component. -->
    <app-even *ngFor="let evenNumber of evenNumbers" [intervalNumber]="evenNumber"></app-even>
    <app-odd *ngFor="let oddNumber of oddNumbers" [intervalNumber]="oddNumber"></app-odd>
  </div>
</div>

