<div class="row">
    <!-- Again: these classes are bootstrap classes -->
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <!-- <div class="alert alert-danger" *ngIf="error">
            <p>{{ error }}</p>
        </div> -->
        <!--
            311. Adding an Alert Modal Component.
            313. Using ngIf.  
            An alert component will show an error and can be closed via a button.
            The alert message can be handed over via property binding.
        -->
        <app-alert 
            [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert>
        <div *ngIf="isLoading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <!-- Template Driven: Get access to the Angular Form object by connecting ngForm to local reference authForm. -->
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" id="email" class="form-control" ngModel name="email" required email />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <!-- The password should have a minimum length of 6 -->
                <input type="password" id="password" class="form-control" ngModel name="password" required
                    minlength="6" />
            </div>
            <div>
                <!--
                    Here again String Interpolation is used.
                    Everything between the curly brackets is JS code.
                    The first button will submit the form. The second will just switch between Form Modes.
                -->
                <button type="submit" class="btn btn-primary" [disabled]="!authForm.valid">
                    {{ isLoginMode ? 'Login' : 'Sign Up' }}
                </button> |
                <button type="button" class="btn btn-primary" (click)="onSwitchMode()">
                    {{ isLoginMode ? 'Sign Up' : 'Login' }}
                </button>
            </div>
        </form>
    </div>
</div>